<!DOCTYPE html>
<html lang="en" data-theme="luxury" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="h-screen flex justify-center">
<div class="middle-container flex-col ml-10 mr-10 mt-15 w-full md:min-w-[600px] md:max-w-[1000] md:w-min">
    <a th:href="@{/admin}" class="btn btn-outline text-2xl md:text-lg py-6">Go Back</a>
    <hr class="mt-2 text-stone-500">
    <h3 class="mt-15 text-5xl md:text-3xl">New User</h3>

    <form class="w-full mt-10 fieldset bg-base-200 border-base-300 rounded-box border p-4" th:action="@{/admin/save-new-user}" method="post">
        <div th:if="${param.exists}" role="alert" class="alert alert-error alert-outline">
            <span>Error! The username is already taken.</span>
        </div>
        <label class="label text-2xl md:text-base " for="username">Username</label>
        <input type="text" class="input w-full text-2xl py-8 md:text-base md:py-5" id="username" name="username" placeholder="new username" required/>


        <label class="label text-2xl mt-5 md:text-base md:mt-auto" for="password">Password</label>
        <input type="password" id="password" name="password" class="input w-full text-2xl py-8 md:text-base md:py-5" placeholder="Strong password" required/>

        <label class="label text-2xl mt-5 md:mt-auto md:text-base " for="role">Role</label>
            <select class="select text-2xl w-full h-15 md:text-base md:h-10" name="role" id="role" required>
                <option value="" disabled selected>Pick a Role</option>
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        <button type="submit" class="btn btn-success mt-7 text-2xl py-8 md:py-6">create</button>
    </form>
</div>
</body>
</html>
