<!DOCTYPE html>
<html lang="en" data-theme="luxury">
<head>
    <meta charset="UTF-8">
    <title>Gym Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="h-screen flex items-center justify-center">
<div class="middle-container">
    <div class="gym-tracker-typewriter m-auto">
        <div>
            <p>GYM TRACKER</p>
        </div>
    </div>

    <hr class="reveal-line">

    <div class="w-full flex justify-center">
        <button class="btn btn-xl w-full">
            Log In
        </button>
    </div>
</div>
</body>
</html>
